<!DOCTYPE html>
<html>
  <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= render 'layouts/shim' %>
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <script type="text/javascript">
      var is_user = <%= !current_user.try(:id).nil? %>
    </script>

    <%= render 'layouts/header' %>
    <%= render 'sessions/sign_in_modal' %>
    <div class="container">
        <% flash.each do |key, value| %>
          <% logger.info "flash: #{key.inspect} => #{value.inspect}" %>

           <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>


      <%= yield %>
      <%= render 'layouts/footer' %>
      <!--<%= debug(params) if Rails.env.development? %>-->
    </div>
  </body>
</html>
